services:
  jenkins:
    build: .
    privileged: true
    user: root
    ports:
      - 8080:8080
      - 50000:50000
    container_name: jenkins
    environment:
      - CASC_JENKINS_CONFIG=/var/jenkins_home/casc_configs/jenkins.yaml
    volumes:
      - jenkins_home:/var/jenkins_home
      - /var/run/docker.sock:/var/run/docker.sock
      - ./jenkins.yaml:/var/jenkins_home/casc_configs/jenkins.yaml
      - /home/a.lopez.g/Documents/trabajos/jenkins_container:/home/a.lopez.g/Documents/trabajos/jenkins_container
    restart: unless-stopped

volumes:
  jenkins_home:
